body
{
    background-image: url("../img/fondo_otras_paginas.jpg");
    background-repeat: repeat-y;
    background-size:contain;
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
    font-size: 300%;
    margin-top: 300px;
    color: gold;
    font-style: italic;
}

.fila{
    
}

.objects {
    clear: left;
    padding-top: 30px;
}

.obj{
    
    margin-bottom: 30px;
}

.obj img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
.obj h3{
    font-size: 200%;
    color: white;
    text-align: center;
}

.obj_1 img {
    height: 660px;
    width: 1088px;
}

.obj_2 img {
    width: 1200px;
    height: 672px;
}

.obj_3 img{
    width: 1000px;
    height: 450px;
}

.obj_4 img{
    width: 668px;
    height: 488px;
}

.obj_5 img {
    width: 660px;
    height: 336px;
}

.obj_6 img {
    width: 660px;
    height: 336px;
}
