
/*Estilos de la parte principal de la pagina*/
body {
    font-family: MingLiU-ExtB, Arial;
    font-size: 24px;
    width: 20000px;
    height: 100%;
    overflow-y: hidden;
    background-image: url("../img/fondo_otras_paginas_tile.jpg");
    background-repeat: repeat;
    margin: 0px;
}
*{
    box-sizing: border-box;
}
section{
    display: block;
    float: left;
    margin: 0px;
    padding: 5px;
}
#inicio {
  margin:0px;
  padding: 0px;
}
#centrar{
    display:block;
    background-image: url('../img/fondo_inicio.jpg');
    background-size: 100%;
    margin: 0px auto;
    padding: 0px;
}
#logo_titulo {
    width: 40%;
    margin: 0px auto;
    display: block;
    padding-top: 5%;
}

.enlaces-principales {
    float: left;
    clear: both;
    margin-top: 2%
   /* background-color: red;*/
}

.enlaces-principales li {
    list-style-type: none;
    font-size: 200%;
    /*padding-top: 10px;*/
}
.enlaces-principales a{
    color: #000000;
    text-decoration: none;
}
.enlaces-principales a:hover{
    font-size:120%;
    color: gold;
}

.navbar-toggle{
    opacity: 1;
    visibility: visible;
}

/*Estilos de la parte de contenido de la pagina*/

#contenido {
   
}

#contenido h1 {
    text-align: left;
    text-transform: capitalize;
    font-size: 200%;
    color: #000000;
    /*font-style: italic;*/
    height: 15%;
    margin: 0px;
}

.objects {
    padding-top: 30px;
}

.obj, iframe {
    margin: 0px 20px;
    float: left;
    display: inline-block;
    height: 70%;
    border: 5px solid black;
}
