
/*Estilos de la parte principal de la pagina*/
body {
    font-family: MingLiU-ExtB, Arial;
    font-size: 18px;
    width: 20000px;
    height: 100%;
    overflow-y: hidden;
    background-image: url("../img/fondo_otras_paginas_recorte.jpg");
    background-repeat: repeat;
    margin: 0px;
}
*{
    box-sizing: border-box;
}
section{
    display: inline-block;
    float: left;
    margin: 0px;
    padding: 5px;
}
#inicio {
  display:block;
  margin:0px;
  padding: 0px;
}
#centrar{
    display:block;
    background-image: url('../img/fondo_inicio.jpg');
    background-size: 100%;
    margin: 0px auto;
    padding: 0px;
}
#logo_titulo {
    width: 50%;
    margin: 3% auto;
    display: block;
}

.enlaces-principales {
    float: left;
    clear: both;
    margin-top: 15%
   /* background-color: red;*/
}

.enlaces-principales li {
    list-style-type: none;
    font-size: 200%;
    /*padding-top: 10px;*/
}
.enlaces-principales a{
    color: #000000;
    text-decoration: none;
}
.enlaces-principales a:hover{
    font-size:120%;
    color: gold;
}

.navbar-toggle{
    opacity: 1;
    visibility: visible;
}

/*Estilos de la parte de fotografias de la pagina*/

#fotografias {
    width: 8000px;
}

#fotografias h1 {
    text-align: left;
    text-transform: uppercase;
    font-size: 300%;
    color: gold;
    font-style: italic;
    height: 20%;
    margin: 0px;
}

.objects {
    padding-top: 30px;
}

.obj {
    margin: 5px 20px;
    float: left;
    display: inline-block;
    height: 80%;
}

.obj img {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   max-height: 80%;
}

.obj h3 {
   font-size: 120%;
   color: #000000;
   text-align: center;
}

.obj_1 img {
    width: 1088px;
    height: 660px;

}

.obj_2 img {
    width: 1200px;
    height: 672px;
}

.obj_3 img {
    width: 1000px;
    height: 450px;
}

.obj_4 img {
    width: 1336px;
    height: 976px;
}

.obj_5 img {
    width: 1320px;
    height: 672px;
}

.obj_6 img {
    width: 1320px;
    height: 672px;
}

.obj_7 img{
    width: 1500px;
    height: 842px;
}