body
{
    background-image: url("../img/fondo_otras_paginas.jpg");
    background-repeat: repeat;
}

h1{
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
    font-size: 300%;
    margin-top: 300px;
    color: gold;
    font-style: italic;
}

.fila{
    
}

.objects {
    clear: left;
    padding-top: 30px;
}

.obj{
    
    margin-bottom: 30px;
}

.obj img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
.obj p{
    font-size: 150%;
    color: white;
    text-align: center;
}

.obj_1 img {
    height: 330px;
    width: 544px;
}

.obj_2 img {
    width: 600px;
    height: 336px;
}

.obj_3 img{
    width: 500px;
    height: 225px;
}

.obj_4 img{
    width: 334px;
    height: 244px;
}
